# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: f13cff0ee1e77d353743fb8b2ad4ea558225afd403beb1eda3cde3ba6aec54a570cab0566616a4dd7e9b0c83c939c8368af41bba77ba9e24049be8feae33a57d

test:
  secret_key_base: 9b6d4e7d233a9263337ada73fbab42d6af77f3a4411dab2bdda8360b08dbaa9233fbe7d1c9dabe9fbf46fe052d4bbcbf68a8ad077ec53637a8e0678427e0fdff

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
