.modal{ role: 'dialog', tabindex: '-1', ng: { class: 'className', style: 'style' } }
  .modal-dialog{ role: 'document' }
    .modal-content
      .modal-header
        %button.close{ type: 'button', aria: { label: 'Close' }, data: { dismiss: 'modal' }, ng: { click: 'shown = false' } }
          %span{ aria: { hidden: 'true' } } ×
        %h4.modal-title Create new account
      .modal-body
        %form.form-horizontal
          .form-group
            %label.col-xs-2.control-label Name
            .col-xs-8
              %input.form-control{ type: 'text', ng: { model: 'account.name' } }
          .form-group
            %label.col-xs-2.control-label Balance
            .col-xs-3
              %input.form-control{ type: 'text', ng: { model: 'account.balance' } }
            %label.col-xs-2.control-label Type
            .col-xs-3
              %input.form-control{ type: 'select', ng: { model: 'account.type' } }
      .modal-footer
        %button.btn.btn-default{ type: 'button', data: { dismiss: 'modal' }, ng: { click: 'shown = false' } } Close
        %button.btn.btn-primary{ type: 'button', ng: { click: 'create()' } } Create